.main-image {
    border-radius: 8px;
    margin-left: 32rem;
    margin-top: 11.2rem;
    margin-bottom: 8rem;
}

.text-header {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-size: 2rem;
    font-weight: 400;
    color: #394149;
    margin-bottom: 2.4rem;
}

.jonson {
    margin-left: 58.4rem;
    margin-bottom: 2.4rem;
}

.first {
    font-weight: 600;
    font-size: 6.4rem;
    margin-left: 58.4rem;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.inner {
    margin-left: 58.4rem;
    font-weight: 500;
    font-size: 1.6rem;
    color:#5B5B5B;
}

.ux {
    margin-bottom: 2.4rem;
}

.uz {
    margin-bottom: 4.8rem;
}

.second {
    font-weight: 600;
    font-size: 4.8rem;
    margin-left: 58.4rem;
    margin-bottom: 2.4rem;
}

